@use "../../styles/partials/colors" as *;
.button {
	display: flex;
	background-color: $brainflix-blue;
	color: $white;
	border-radius: 4px;
	padding: 0 32px;
	height: 40px;
	border: none;
	flex-grow: 1;
}
