@use "./mixins" as *;
@use "./variables" as *;
body {
	@include tablet {
		padding: 1rem 2.25rem 1rem 2.25rem;
	}
	@include desktop {
		padding: 1rem 2.25rem 1rem 2.25rem;
	}
}
.button {
	@include text-labels-buttons($white, center);
	background-repeat: no-repeat;
	background-position: left center;
	background-position-x: 1rem;
	background-color: $brainflix-blue;
	border: $brainflix-blue;
	color: $white;
	padding: 1rem;
	width: 100%;
	box-shadow: none;
	border-radius: 0.25rem;
	&:hover {
		background-color: $brainflix-dark-blue;
		border: $brainflix-dark-blue;
	}
	&--publish {
		background-image: url("../../assets/icons/publish.svg");
	}
	&--upload {
		background-image: url("../../assets/icons/upload.svg");
	}
	&--comment {
		background-image: url("../../assets/icons/add_comment.svg");
	}
}
.avatar {
	margin-left: 1rem;
	height: 2.1875rem;
	width: 2.1875rem;
	border-radius: 50%;
	object-fit: cover;
	&--empty {
		min-width: 2.1875rem;
		// object-fit: none;
		background-color: $mercury;
	}
}
.input {
	@include text-body-copy($brainflix-black, left);
	min-width: 100%;
	padding: 0.5rem;
	background-color: $alabaster;
	border: 1px solid $mercury;
	box-shadow: none;
	border-radius: 0.25rem;
	text-align: left;
	margin-bottom: 1rem;

	&:focus {
		outline: none;
		border: solid 2px $brainflix-blue;
	}
}
