@use "./mixins" as *;
@use "./variables" as *;

.button {
	@include text-labels-buttons($white, center);
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: left center;
	background-position-x: 1rem;
	background-color: $brainflix-blue;
	border: $brainflix-blue;
	color: $white;
	padding: 1rem;
	height: 40px;
	width: 100%;
	box-shadow: none;
	border-radius: 0.25rem;
	@include tablet {
		width: 0%;
		min-width: 9.375rem;
	}
	@include desktop {
		width: 0%;
		min-width: 9.375rem;
	}
	&:hover {
		background-color: $brainflix-dark-blue;
		border: $brainflix-dark-blue;
	}
	&--publish {
		background-image: url("../../assets/icons/publish.svg");
	}
	&--upload {
		background-image: url("../../assets/icons/upload.svg");
	}
	&--comment {
		background-image: url("../../assets/icons/add_comment.svg");
	}
}
.avatar {
	margin-left: 1rem;
	height: 2.1875rem;
	width: 2.1875rem;
	border-radius: 50%;
	object-fit: cover;
	&--empty {
		min-width: 2.1875rem;
		// object-fit: none;
		background-color: $mercury;
	}
}
.input {
	width: 100%;
	padding: 0.5rem;
	background-color: $alabaster;
	background-position: left;
	background-position-x: 1rem;
	background-repeat: no-repeat;
	border: 1px solid $mercury;
	box-shadow: none;
	border-radius: 0.25rem;
	text-align: left;
	margin-bottom: 1rem;
	resize: none;
	&::placeholder {
		@include text-body-copy($brainflix-black, left);
	}

	&:focus {
		outline: solid 1px $brainflix-blue;
	}
	&--search {
		padding-bottom: 3.125rem;
		@include tablet {
			margin-right: 1.5rem;
			padding-bottom: 0;
		}
		@include desktop {
			margin-right: 1.5rem;
			padding-bottom: 0;
		}
	}
	&--form {
	}
	&--upload {
	}
	&--description {
	}
}
.link {
	text-decoration: none;
}
