//Style guide specs

@font-face {
	font-family: "Avenir Regular";
	src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
	// src: url("../../assets/font/AvenirNextLTPro.ttf") format ("truetype");
}
@font-face {
	font-family: "Avenir Bold";
	src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
	// src: url("../../assets/font/AvenirNextLTProBold.ttf") format ("truetype");
}

//DESKTOP
//PAGE HEADER
@mixin desktop-text-style-1 {
	font-size: 3.75rem;
	font-family: "Avenir";
	line-height: 4.25rem;
}
//SECTION HEADER
@mixin desktop-text-style-2 {
	font-size: 2.25rem;
	font-family: "Avenir";
	line-height: 2.75rem;
}
//SUBHEADER
@mixin desktop-text-style-3 {
	font-size: 1.5rem;
	font-family: "Avenir";
	line-height: 2rem;
}
//BODY COPY
@mixin desktop-text-style-4 {
	font-size: 0.875rem;
	font-family: "Avenir";
	line-height: 1.375rem;
}
//FOOTER COPY
@mixin desktop-text-style-5 {
	font-size: 0.875rem;
	font-family: "Avenir";
	line-height: 1.25rem;
}
//LABELS & BUTTONS
@mixin desktop-text-style-6 {
	font-size: 0.75rem;
	font-family: "Avenir";
	line-height: 1.25rem;
}
//MOBILE
//PAGE HEADER
@mixin mobile-text-style-1 {
	font-size: 1.5rem;
	font-family: "Avenir";
	line-height: 2rem;
}
//SECTION HEADER
@mixin mobile-text-style-2 {
	font-size: 1.5rem;
	font-family: "Avenir";
	line-height: 1.375rem;
}
//SUBHEADER
@mixin mobile-text-style-3 {
	font-size: 0.875rem;
	font-family: "Avenir";
	line-height: 1.375rem;
}
//BODY COPY
@mixin mobile-text-style-4 {
	font-size: 0.8125rem;
	font-family: "Avenir";
	line-height: 1.125rem;
}
//FOOTER COPY
@mixin mobile-text-style-5 {
	font-size: 0.8125rem;
	font-family: "Avenir";
	line-height: 1.125rem;
}
//LABELS & BUTTONS
@mixin mobile-text-style-6 {
	font-size: 0.625rem;
	font-family: "Avenir";
	line-height: 1.25rem;
}
