//min-width: 1280px
$desktop--breakpoint: 1280px;

//min-wdth: 768px & max-width: 1279px
$tablet--breakpoint-min: 768px;
$tablet--breakpoint-max: 1279px;

//max-width: 767px
$mobile--breakpoint: 767px;
