.hero {
	&__wrapper {
		display: flex;
		z-index: 0;
		position: relative;
		height: 100%;
		width: 100%;
		&--media {
			width: 100%;
			height: 100%;
		}
		&--icons {
			z-index: 1;
			display: flex;
			position: absolute;
			&--play {
			}
			&--volume-up {
			}
			&--volume-off {
			}
		}
	}
}
