@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.form {
	margin: 1rem;
	&__input {
		padding-bottom: 3.125rem;
		@include tablet {
			padding-bottom: 0;
		}
		@include desktop {
			padding-bottom: 0;
		}
		&--container {
			display: flex;
			flex-direction: column;
			@include tablet {
				flex-direction: row;
			}
			@include desktop {
				padding-right: 1.5rem;
				flex-direction: row;
			}
		}
	}

	&__container {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-right: auto;
		&--left {
			display: flex;
			flex-grow: 1;
			margin-top: 1.75rem;
			max-width: 2.25rem;
			max-height: 2.25rem;
			& div {
				margin-top: 0.5rem;
			}
		}
		&--right {
			display: flex;
			flex-grow: 1;
			margin: 1rem;
			margin-right: 0;
			@include tablet {
				margin-right: 0;
			}
			@include desktop {
				margin-right: 0;
			}
		}
	}
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__subheading {
		@include text-section-header($silver, left);
	}

	&__text {
		&--error {
			border: 1px solid #ff0000;
		}
		&--name {
			&:focus {
				outline: 1px solid $brainflix-blue;
				min-height: 2.25rem;
				padding: 12px;
				margin-bottom: 1rem;
			}
			background-color: $alabaster;
			padding: 1rem;
			margin-bottom: 1rem;
			width: 100%;
			border-radius: 4px;
			border: solid $mercury 1px;
			min-height: 3rem;
		}
		&--content {
			&:focus {
				outline: 1px solid $brainflix-blue;
			}
			padding-left: 1rem;
			padding-top: 1rem;
			margin: 1rem 0;
			background-color: $alabaster;
			height: 100px;
			border-radius: 4px;
			border: solid $mercury 1px;
		}
	}
}
.comments {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	@include tablet {
		padding: 0 2.25rem;
	}
	@include desktop {
		padding: 0;
	}
	@include desktop {
		padding-left: 7rem;
		height: 25vh;
	}
	&__card {
		display: flex;
		align-self: flex-start;
		border-top: solid 1px $silver;
	}
	&__container {
		margin: 0 1rem;
		@include desktop {
			padding-right: 0.5rem;
		}
	}
	&--qty {
		display: flex;
		& p {
			@include text-subheader($brainflix-dark-black, left);
		}
	}

	&__input {
		padding: 20px;
	}
	&--info {
		display: flex;
		justify-content: space-between;
	}
	&--name {
		margin-bottom: 0;
		@include text-subheader($brainflix-dark-black, left);
	}
	&--date {
		margin-bottom: 0;
		@include text-body-copy($silver, right);
	}
	&--comment {
		@include text-body-copy($brainflix-dark-black, left);
	}
}
