@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.main {
	&__hero-video--image {
		width: 100%;
	}
	&__heading {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		color: $brainflix-black;
		text-align: left;
	}
	&__container {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		&--info {
			display: flex;
			flex-direction: column;
			border-top: 1px $silver solid;
			border-bottom: 1px $silver solid;
			&--left,
			&--right {
				justify-content: space-between;
				margin-right: 3rem;
				display: flex;

				// flex-direction: column;
			}
			&--column {
				align-items: center;
				display: flex;
				flex-direction: column;
				@include tablet {
					flex-direction: row;
				}
			}
		}
		&--icons {
			height: 1rem;
			margin: 0 1rem;
		}
	}
	&--channel {
		font-weight: 700;
		margin-right: 1rem;
	}
	&--likes,
	&--views {
		color: $silver;
		padding: 0px;
	}

	&--paragraph {
		text-align: left;
	}
}
