@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.header {
	display: flex;
	align-self: center;
	justify-content: center;

	&__container {
		padding: 1rem;
		@include tablet {
			padding: 0;
			padding-left: 2.25rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		@include desktop {
			padding: 0;
			padding-left: 7rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}
	&__logo {
		@include tablet {
			padding-right: 7rem;
		}
		@include desktop {
			padding-right: 14rem;
		}
	}
	&__nav {
		display: flex;
		margin-top: 1rem;
		margin-right: 3rem;
		@include tablet {
			margin-right: 1.5rem;
			min-width: 250px;
		}
		@include desktop {
			min-width: 250px;
			margin-right: 1.5rem;
		}
	}
	&--avatar {
		position: absolute;
		display: flex;
		right: 1rem;
		top: 3.5rem;
		@include tablet {
			right: 2.25rem;
			top: 1rem;
		}
		@include desktop {
			right: 2.25rem;
			top: 1rem;
		}
	}
}
