.avatar {
	&__wrapper {
		// margin: 0 1rem;x
		position: relative;
	}
	// background-image: url("../assets/images/Mohan-muruge.jpg");
	&__image {
		border-radius: 50%;
		max-height: 2.25rem;
		max-width: 2.25rem;
	}
}
