@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-list {
	display: flex;
	flex-direction: row;
	// margin: 1rem;
	&__container {
		border-top: $silver 1px solid;
		margin: 0 1rem;
		@include tablet {
			padding: 0 2.25rem;
		}
		@include desktop {
			padding: 0 2.25rem;
		}
	}
	&__heading {
		text-align: left;
		color: $silver;
	}
	&__image {
		display: flex;
		flex-direction: row;
		height: 12vh;
		width: 32vw;
		border-radius: 6px;
		object-fit: cover;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	&--info {
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	&--title {
		margin: 0;
		text-align: left;
		font-weight: 700;
	}
	&--channel {
		text-align: left;
	}
}
