@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-list {
	display: flex;
	flex-direction: column;
	border-top: solid 1px $silver;
	margin: 0 1rem;
	@include tablet {
		margin: 0 2.25rem;
	}
	@include desktop {
		padding: 1rem;
		border-top: none;
		border-left: $mercury 1px solid;
		height: 50vh;
		width: 72vw;
		margin: 0;
	}
	&__container {
		@include desktop {
			height: 100%;
			overflow: auto;
			padding-right: 2.25rem;
			border-top: none;
		}
	}
	&__card {
		margin: 0.75rem 0;
		display: flex;
		& a {
			height: 75px;
		}
	}
	&__heading {
		@include text-section-header($silver, left);

		color: $silver;
		@include tablet {
			padding: 1rem 0;
		}
		@include desktop {
			padding: 1rem 0;
		}
	}
	&__image {
		height: 4.375rem;
		width: 7.8125rem;
		border-radius: 4px;
		object-fit: cover;
	}
	&--info {
		margin-left: 1rem;
		display: flex;
		flex-direction: column;
		@include desktop {
			margin-left: 1.5rem;
		}
	}
	&--title {
		@include text-subheader($brainflix-dark-black, left);
		margin: 0;
	}
	&--channel {
		@include text-body-copy($brainflix-dark-black, left);
	}
}
